body {
  background-color: #fff;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  margin-bottom: .2em;
}

.poem {
  margin: 0 2em;
}

.highlight {
  background-color: #ccc;
  border: 1px solid #888;
  font-style: italic;
  margin: 0.5em 0;
  padding: 0.5em;
}
